:host {
  display: block;
  width: 100%;
  height: 100%;
  contain: layout paint style;
}

:host(:not([feedback-enabled])) .feedback-action,
:host(:not([reply-enabled])) .reply-action,
:host(:not([share-enabled])) .share-action {
  display: none;
}

.walli-table-scrollbar {
  scrollbar-color: var(--table-scrollbar-thumb) var(--table-scrollbar-track);
  scrollbar-width: thin;
}

.walli-table-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.walli-table-scrollbar::-webkit-scrollbar-track {
  background: var(--table-scrollbar-track);
}

.walli-table-scrollbar::-webkit-scrollbar-thumb {
  background: var(--table-scrollbar-thumb);
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 999px;
}

.walli-table-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--table-scrollbar-thumb-hover);
  background-clip: content-box;
}
