.storybook/
.storybook-react/
.storybook-vue/
.agents/
.codex/

demo/
public/
src/
stories/
stories-react/
stories-vue/

coverage/
dist-demo/
storybook-static/
storybook-static-react/
storybook-static-vue/

*.config.*
*.log
AGENTS.md
index.html
